<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Mouser API -->
    <add key="MouserApiKey" value="YOUR_API_KEY" />
    
    <!-- Rate Limit -->
    <add key="CallsPerMinute" value="20" />

    <!-- Timeout Config -->
    <add key="TimeoutSeconds" value="45" />
  </appSettings>

</configuration>
